<h1>Waves#index</h1>

<p><%= "#{ @current_photon.photonname}'s Rays of Light" %></p>
<%= form_for @wave, url: waves_post_path do |f|
  <%= f.text_area :wave %>
  <%= f.submit %>
  <% end %>

<ul>
  <% @waves.each do |wave| %>
  <li>
    <% wave %>
    by <%= wave.photon.photonname %> on <%=wave.created_at %>
  </li>
</ul>
